.background{
    background: url(../src/images/desktop/image-hero.jpg) no-repeat;
    position: relative;
    width: 100%;
    height: 400px;
}

nav{
    margin-left: 100px;
    margin-right: 20px;
    width: 90%;
}

nav ul{
    float: right;
    margin-right: 20px;
}
li{
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
}
li a{
    color: #fff;
    text-decoration: none;
}
fieldset{
    width: 30%;
    margin-top: 100px;
    color: #fff;
    margin-left: 100px;
}

.interactive{
    margin: 50px;
    margin-left: 200px;
    /* display: flex;
    flex-direction: row; */
}
.interactive img{
    width: 500px;
}

.interactive .sm{
    background-color: #fff;
}

.inter-img{
    position: relative;
}
.sm{
    position: absolute;
    left: 400px;
    top: 600px;
    width: 50%;
    padding: 100px;
}

.creation{
    margin-top: 150px;
}
.create{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-left: 200px;
    margin-right: 250px;
}
button{
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    border: #000000 solid 2px;
}

.creations{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
.grid{
    position: relative;
    width: 20%;
    margin: 10px;
}
label{
    position: absolute;
    left: 50px;
    top: 300px;
    color: #fff

}

.grid img{
    width: 220px;
}

footer{
    background: #000000;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.social{
    float: right;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

/* @media screen and (min-width: 700px) {
    .creations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .creations {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

} */